<a class="font-semibold" href="">DragAndDropTestings</a>

<a href="">Home</a>
<a href="simpledrag">Simple Drag and Drop</a>
<a href="simplemouse">Simple Mouse Down and Up</a>

<div class="grow"></div>

<div class="text-gray-600">@ThisAssembly.AssemblyInformationalVersion</div>
