<a class="font-semibold" href="">DragAndDropTestings</a>

<a href="">Home</a>
<a href="onmouse">Mouse Down and Up</a>
<a href="ondrag">Drag and Drop</a>

<div class="grow"></div>

<div class="text-gray-600">@ThisAssembly.AssemblyInformationalVersion</div>
