<a class="font-semibold" href="">DragAndDropTestings</a>

<a href="">Home</a>
<a href="counter">Counter</a>
<a href="fetchdata">Fetch data</a>

<div class="grow"></div>

<div class="text-gray-600">version maybe?</div>
